<div class="sort-card">
  <p class="date-content">
    <span class="day-label">Meetings</span>
  </p>
  <div>
    <div>
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Scheduled Meetings ({{ scheduled.length }})
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="meeting-container">
           <app-meetings-list [list]="scheduled"></app-meetings-list>
          </div>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Rescheduled Meetings ({{ rescheduled.length }})
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="meeting-container">
            <app-meetings-list [list]="rescheduled"></app-meetings-list>
           </div>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Cancelled Meetings ({{ cancelled.length }})
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="meeting-container">
            <app-meetings-list [list]="rescheduled"></app-meetings-list>
           </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
</div>