.day-label {
    font-size: 20px;
    font-weight: 700;
    color: rgb(36,36, 61);
};

.sort-card {
    margin-top: 29px;
    margin-right: 18px;
}

.round-frame {
    height: 29px;
    width: 29px;
    border-radius: 57px;
    border: 2px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
};

.task-type {
    text-transform: uppercase;
    font-weight: 700;
};

.time {
    font-size: 12px;
    color: rgb(36,36, 61);
}

.title {
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 600;
    color: rgb(36,36, 61);
    font-size: 16px;
}

.content {
    margin: 0;
    font-size: 12px;
    color: rgb(36,36, 61);
};

.meeting-card {
    width: 45%;
    max-width: 125px;
    margin: 0px;
    margin-left: 10px;
    margin-top: 10px;
}

.meetings-wrapper {
    display: flex;
}

.meeting-container {
    width: 100%;
}