.workspace {
    max-height: 90vh;
    min-height: 90vh;
    display: flex;
    overflow: hidden;
    * {
        color: rgb(36,36, 61);   
    }
}

.task-section {
    width: 45%;
}

.operation-section {
    width: 20%;
}

.view-section {
    width: 35%;
}