<!--The content below is only a placeholder and can be replaced.-->
<mat-sidenav-container class="wrapper unicorn-dark-theme">
  <mat-sidenav mode="side">Sidenav content</mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">NG Task</mat-toolbar>
    <div class="workspace">
        <mat-card  class="selected-mat-card">
            <mat-card-title>Title</mat-card-title>
            <mat-card-content>Content goes here...</mat-card-content>
            <mat-card-content>Content goes here...</mat-card-content>
        </mat-card>
        <mat-card>
            <mat-card-title>Title</mat-card-title>
            <mat-card-content>Content goes here...</mat-card-content>
            <mat-card-content>Content goes here...</mat-card-content>
        </mat-card>
        <mat-card>
            <mat-card-title>Title</mat-card-title>
            <mat-card-content>Content goes here...</mat-card-content>
            <mat-card-content>Content goes here...</mat-card-content>
        </mat-card>
        <mat-card>
            <mat-card-title>Title</mat-card-title>
            <mat-card-content>Content goes here...</mat-card-content>
            <mat-card-content>Content goes here...</mat-card-content>
        </mat-card>
        <mat-card>
            <mat-card-title>Title</mat-card-title>
            <mat-card-content>Content goes here...</mat-card-content>
            <mat-card-content>Content goes here...</mat-card-content>
        </mat-card>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
<router-outlet></router-outlet>
